.nav, h1, .panel, a{
  font-family: 'Questrial', sans-serif !important;
}

img {
  max-width: 90%;
}

#edit-delete, #comments-body {
  display: inline-flex !important;
}

#welcome-h1 {
  /*color: #C33C54;*/
  background-color: #84DCC6 !important;
  border-radius: 10px !important;
  padding-top: 4px;
}
