<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/head.ejs %>
  </head>

  <body>
    <% include ../partials/nav.ejs %>
    <div class="negative-space text-center">
      <div class="container">
        <form action="/user/login" method="post">
          <h2>Log In</h2>
          <div class="form-group">
            Username: <input name="username" /> <br />
          </div>
          <div class="form-group">
            Password: <input name="password" /><br />
          </div>
          <div class="form-group">
            <button type="submit">Submit</button>
          </div>
        </form>
        <br/>
        <form action="/user/register" method="post">
          <h2>Register</h2>
          <div class="form-group">
            Username: <input name="username" /> <br />
          </div>
          <div class="form-group">
            Password: <input name="password" /><br />
          </div>
          <div class="form-group">
            <button type="submit">Register</button>
          </div>
        </form>
        <% include ../partials/footer.ejs %>
      </div>
    </div>

  </body>
</html>
