<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/head.ejs %>
  </head>

  <body>
    <div class="container-fluid negative-space text-center">
      <% include ../partials/nav.ejs %>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" id="login-info">
          <br/>
          <p>Please register or log in to comment on, add, edit, or delete a teapot. </p>
          <br/>
          <p>Thank you!</p>
          <br/>
          <p>P.S. If you don't feel like making a new account, feel free to log in with:</p>
          <p>Username: Guest</p>
          <p>Password: access</p>
        </div>
        <div class="login-register col-md-4">
          <form action="/user/login" method="post">
            <h2>Log In</h2>
            <div class="form-group">
              Username: <input name="username" /> <br />
            </div>
            <div class="form-group">
              Password: <input type="password" name="password"/><br />
            </div>
            <div class="form-group">
              <button type="submit">Submit</button>
            </div>
          </form>
          <br/>
          <form action="/user/register" method="post">
            <h2>Register</h2>
            <div class="form-group">
              Username: <input name="username" /> <br />
            </div>
            <div class="form-group">
              Password: <input type="password" name="password" /><br />
            </div>
            <div class="form-group">
              <button type="submit">Register</button>
            </div>
          </form>
          <% include ../partials/footer.ejs %>
        </div>
      </div>
    </div>

  </body>
</html>
