<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <h1>Oops! You didn't submit this teapot!</h1>
    <a class="btn btn-default" href="/teapots" role="button">Go Home</a>
  </body>
</html>
