<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <div class="container-fluid">
      <div class="page-header text-center" id="welcome-h1">
        <h1>Welcome to the Teapot Wonder Dome</h1>
      </div>
      <div class="container-fluid">
          <% for(let teapot of allTeapots) { %>
            <div class="col-xs-6 col-md-4">
              <div>
                <a href = "/teapots/<%=teapot._id%>">
                  <img src="<%=teapot.url%>"/>
                </a>
              </div>
            </div>
          <% } %>
      </div>
    </div>

  </body>
</html>
